<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Experienced software engineer since 2016 with a strong background in mobile and web technologies.  Have extensive experience in leading development teams and managing projects across various tech stacks, including .NET, Kotlin, Java, Flutter, and SQL Server. have a proven track record in developing enterprise-level applications, integrating 3rd party APIs, and delivering high-quality solutions. Has worked in various industries, including finance, healthcare, and HRIS systems, sales, demonstrating his versatility and expertise in Android development, system architecture, and database management. Additionally, Already Has solid experience in mentoring teams and providing technical leadership.</br></br>If you want to know more details or even talk about business inquiries, don't hesitate to contact me! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://wa.me/6283871979960" class="btn btn-lg btn-outline">
          <i class="fa fa-message"></i> Contact Me
        </a>
      </div>
    </div>
  </div>
</section>
