<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Experienced software engineer since 2016, with a strong background in mobile and web technologies. Extensive experience leading development teams and managing projects across various technology stacks, including .NET, Kotlin, Java, Flutter, and SQL Server. Proven track record of developing enterprise-level applications, integrating third-party APIs, and delivering high-quality solutions. Experience across industries including finance, healthcare, HRIS, and sales, with expertise in Android development, system architecture, and database management.<br/><br/>If you’d like to learn more or discuss a business inquiry, don’t hesitate to contact me. :)</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://wa.me/6283871979960" class="btn btn-lg btn-outline">
          <i class="fa fa-message"></i> Contact Me
        </a>
      </div>
    </div>
  </div>
</section>
