<!-- Portfolio Modals -->
{% for post in site.posts %}
<style>
  *{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

h2{
  text-align:center;
  padding:50px 0;
  font-family: 'Abel', sans-serif;
  font-size:45px;
  @media(max-width:680px){
    font-size:30px;
  }
}
ul{
  padding:0;
  list-style: none;
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}
#container{
  width: 100%;
}
#slider-container{
  width:100%;
  height:75%;
  position:relative;
  overflow:hidden;
  ul{
    li{
      float:left;
      img{
        width:100%;
        float:left;
      }
    }
  }
  .arrow{
    display:block;
    position:absolute;
    top:50%;
    width:50px;
    height:50px;
    transform:translateY(-50%) scale(1);
    cursor:pointer;
    &:before,
    &:after{
      content:"";
      display:block;
      width:34px;
      height:1px;
      position:absolute;
      background:white;
      border-top:1px solid grey;
    }
    @media(max-width:680px){
      transform:translateY(-50%) scale(0.5);
    }
  }
  .arrow.a-left{
    left:15px;
    &:before{
      top:0;
      left:0;
      margin-top:0;
      transform:rotate(-45deg);
      transform-origin: 100% 0;
    }
    &:after{
      bottom:0;
      left:0;
      margin-bottom:0;
      transform:rotate(45deg);
      transform-origin: 100% 0;
    }
  }
  .arrow.a-right{
    right:15px;
     &:before{
      top:0;
      right:0;
      margin-top:0;
      transform:rotate(45deg);
      transform-origin: 0 0;
    }
    &:after{
      bottom:0;
      right:0;
      margin-bottom:0;
      transform:rotate(-45deg);
      transform-origin: 0 0;
    }
  }
  .bullets-container{
    position:absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    .bullet{
      width:10px;
      height:10px;
      display:inline-block;
      border-radius:50%;
      border:1px solid grey;
      cursor:pointer;
      margin:0 8px;
      &.active{
        background:grey;
      }
    }
  }
}
</style>
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content" style="padding:16px 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h3>{{ post.title }}</h3>
            <hr class="star-primary">
            <!-- <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"> -->
              <div id="slider-container">
                <ul class="images-container">
                  {% if post.img1 %}
                  <li>
                   <img src="img/portfolio/{{ post.img1 }}">
                  </li>
                  {% endif %}
                  {% if post.img2 %}
                  <li>
                   <img src="img/portfolio/{{ post.img2 }}">
                  </li>
                  {% endif %}
                  {% if post.img3 %}
                  <li>
                   <img src="img/portfolio/{{ post.img3 }}">
                  </li>
                  {% endif %}
                  {% if post.img4 %}
                  <li>
                   <img src="img/portfolio/{{ post.img4 }}">
                  </li>
                  {% endif %}
                  {% if post.img5 %}
                  <li>
                   <img src="img/portfolio/{{ post.img5 }}">
                  </li>
                  {% endif %}

                </ul>
                {% if post.img1 %}
                <span class="arrow a-left"></span>
                <span class="arrow a-right"></span>
                <!-- <div class='bullets-container'></div> -->
                {% endif %}
              </div>
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
              {% if post.stack %}
              <li>Stack:
                <strong>{{ post.stack }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script type="text/javascript">
  // $(document).ready(mySlider);


  $(".portfolio-link").click(function () {
    const modalId = $(this).attr("href"); // e.g. #portfolioModal-1
    setTimeout(function () {
      const $modal = $(modalId);
      mySlider($modal);
    }, 500);
  });

  function mySlider($modal) {
    let imgNumber,
        sliderContainerWidth,
        imgContainer,
        index = 1,
        flag = true,
        speed = 600,
        bullets = true,
        auto = true,
        time = 5000;

    const $sliderContainer = $modal.find("#slider-container");
    const $imagesContainer = $sliderContainer.find(".images-container");
    const $leftArrow = $sliderContainer.find(".a-left");
    const $rightArrow = $sliderContainer.find(".a-right");
    const $bulletsContainer = $sliderContainer.find(".bullets-container");

    function construction() {
      imgNumber = $imagesContainer.find("li").length;
      sliderContainerWidth = Math.round($sliderContainer.width());
      imgContainer = sliderContainerWidth * imgNumber;

      $imagesContainer.css({
        width: imgContainer,
        "margin-left": 0
      });
      $imagesContainer.find("li").css("width", sliderContainerWidth);

      if (bullets) {
        $bulletsContainer.html("");
        for (let i = 1; i <= imgNumber; i++) {
          $bulletsContainer.append("<span class='bullet'></span>");
        }
        $bulletsContainer.find(".bullet").eq(0).addClass("active");
      }

      $bulletsContainer.find(".bullet").click(pagers);
      $rightArrow.click(slideRight);
      $leftArrow.click(slideLeft);
    }

    function pagers() {
      if (!$(this).hasClass("active")) {
        const bulletIndex = $bulletsContainer.find(".bullet").index(this) + 1;
        index = bulletIndex;
        $bulletsContainer.find(".bullet").removeClass("active").eq(index - 1).addClass("active");
        $imagesContainer.animate({
          marginLeft: -sliderContainerWidth * (index - 1)
        }, speed);
      }
    }

    function slideRight() {
      const imgContainerLeft = parseInt($imagesContainer.css("margin-left"));
      if (flag) {
        if (imgContainerLeft === -sliderContainerWidth * (imgNumber - 1)) {
          index = 1;
          $imagesContainer.animate({ marginLeft: 0 }, speed, () => (flag = true));
        } else {
          index++;
          $imagesContainer.animate({ marginLeft: `-=${sliderContainerWidth}` }, speed, () => (flag = true));
        }
        flag = false;
        $bulletsContainer.find(".bullet").removeClass("active").eq(index - 1).addClass("active");
      }
    }

    function slideLeft() {
      const imgContainerLeft = parseInt($imagesContainer.css("margin-left"));
      if (flag) {
        if (imgContainerLeft === 0) {
          index = imgNumber;
          $imagesContainer.animate({
            marginLeft: -sliderContainerWidth * (imgNumber - 1)
          }, speed, () => (flag = true));
        } else {
          index--;
          $imagesContainer.animate({
            marginLeft: `+=${sliderContainerWidth}`
          }, speed, () => (flag = true));
        }
        flag = false;
        $bulletsContainer.find(".bullet").removeClass("active").eq(index - 1).addClass("active");
      }
    }

    if (auto) {
      var handle = setInterval(slideRight, time);

      $sliderContainer.find(".arrow, .bullets-container").hover(
        () => clearInterval(handle),
        () => (handle = setInterval(slideRight, time))
      );
    }

    construction();
    $(window).on("resize", construction);
  }

</script>
